.container {
  text-align: center !important;
  background-image: linear-gradient(
      0deg,
      rgba(4, 223, 34, 0.15) 0%,
      rgba(167, 179, 214, 0.15) 100%
    ),
    linear-gradient(90deg, rgb(210, 94, 235), rgb(219, 158, 203));

  
}

.btn {
  display: inline-block;
  margin: 20px;
  border-radius: 50px;
}
